a:link {
    color: whitesmoke;
}
a:visited {
    color: whitesmoke;
}
a:hover {
    color: whitesmoke;
}
a:active {
    color: whitesmoke;
}
#section1{
  color: whitesmoke;
}
#fullpage{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
}
.capabilities{
  padding: 2vh 0 8vw 6vh;
  text-align: left;
  font-size: 30px;
  color: #212121;
}
::-webkit-scrollbar {
    display: none;
}
.content {
  text-align: center;
  color: whitesmoke;
}
