a:link {
    color: whitesmoke;
}
a:visited {
    color: whitesmoke;
}
a:hover {
    color: whitesmoke;
}
a:active {
    color: whitesmoke;
}
#fullpage{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
}
::-webkit-scrollbar {
    display: none;
}
#section1{
  color: whitesmoke;
}
